* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu mono';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: hsl(155, 20%, 20%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

a, a:visited {
  color: #00E472;
  border-bottom: 5px solid #FFDC00;
  transition: all ease 180ms;
  text-decoration: none;
}

a:hover {
  color: #FFDC00;
  border-bottom: 0;
}

.prelude {
  font-size: 22px;
  font-weight: 300;
}

.wrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-size: 72px;
  line-height: 0.75;
  margin: 100px 0 30px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.logo span {
  color: #00E472;
  font-weight: 100;
  position: absolute;
  right: -26px;
  top: -7px;
  font-size: 77px;
}

footer.wrapper {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  margin: 50px auto;
}